{% extends "base.html" %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Subjects</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Subjects
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th colspan="2">Date-Time</th>
                                <th>Teacher</th>
                                <th>Cabinet</th>
                                <th>Attendance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                            <tr>
                                <td>{{ subject.name }}</td>
                                {% for day in subject.days %}
                                <td>{{ day }} - {{ subject.time.0 }}</td>
                                {% endfor %}
                                <td>{{ subject.teacher.user.username }}</td>
                                <td>{{ subject.cabinet }}</td>
                                <td><a href="{{request.path}}{{ subject.name }}/attendance">Mark</a></td>   
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}