{% extends "base.html" %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Info</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Students
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Mark</th>
                            </tr>
                        </thead>
                        {% if request.user.job == 'teacher'%}
                        <tbody>
                            {% for student in students %}
                            <tr>
                              <td>{{ student.student.user.username }}</td>
                              <td><a href="{{request.path}}{{ student.student.user.username }}/rate">Attendance</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% else %}
                        <tbody>
                            {% for student in students %}
                            <tr>
                              <td>{{ student.student.user.username }}</td>
                              <td><a href="{{request.path}}{{ student.student.user.username }}/rate/{{ student.student.user.pk }}">Attendance</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
    </main>
</div>
{% endblock %}