<html><body>
    <!-- <h1>Students| |<a href="{{request.path}}attendance">Attendance</a></h1> -->
    <ul>
        {% if request.user.job == 'teacher'%}
        {% for student in students %}
            <li>{{ student.student.user.username }}|<a href="{{request.path}}{{ student.student.user.username }}/rate">rate</a></li>
            {% endfor %}
        {% else %}
        {% for student in students %}
             <li>{{ student.student.user.username }}|<a href="{{request.path}}attendance/{{ student.student.user.username }}">Attendance</a></li>
        {% endfor %}
        {% endif %}
    </ul>
    </body></html>