<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
        {% if request.user.is_staff and request.user.is_superuser %}
        <li > {{user.username}} - admin | <a href="{% url 'BaseU' %}">register admin</a> | <a href="{% url 'act' 'teacher-subject' %}">schedule for teacher</a> | <a href="{% url 'act' 'student-subject' %}">schedule for student</a> |<a href="{% url 'usr'  %}">Users</a> |<a href="{% url 'logo' %}">Выйти</a></li>
        {% else %}
        <li > {{user.username}} - {{user.job}} | <a href="{% url 'logo' %}">Выйти</a></li>
        {% endif %}
    {% else %}
    <li><a href="register/">Register</a></li>
    <li><a href="login/">Login</a></li>
    {% endif %}
</body>
</html>
